$form-input-border: #8f8f8f;
$form-input-bg: #e1e1e1;

$form-input-height: 62px;
$form-input-padding: 25px;

.form-wrap {
    transition: 0.5s ease;;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    z-index: 100;

    &_open {
        opacity: 1;
        visibility: visible;
        
        .form-container {
            opacity: 1;
        }
    }
}
.form-open {
    overflow: hidden;

    body {
        overflow-y: scroll;
    }
}
.form-container {
    background-color: white;
    display: inline-block;
    text-align: left;
    opacity: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px 50px 60px;
    position: relative;
    width: 430px;
    z-index: 100;

    @include media(w768) {
        padding: 20px 20px 30px;
        width: 300px;
    }
}

.form {

    &__close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 24px;
        width: 24px;

        &:before,
        &:after {
            content: "";
            background-color: #7f7f7e;
            margin-left: -1px;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 2px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__heading {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 20px;

        @media screen and (max-width:768px) {
            font-size: 32px;
        }
    }

    &__title {
        font-size: 50px;
    }

    &__descr {
        font-size: 20px;
        margin-bottom: 50px;
    }

    &__label {
        display: block;
        font-size: 17px;

        span {
            display: inline-block;
            margin-bottom: 4px;
        }
    }

    &__label-security-text {
        display: inline !important;
    }

    &__select {
        background-color: $form-input-bg;
        border: 1px solid $form-input-border;
        color: #3f3e3c;
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0 $form-input-padding;
        height: $form-input-height;
        width: 100%;
    }

    &__input {
        @include placeholder {
            color: #3f3e3c;
        }
        background-color: $form-input-bg;
        border: 1px solid $form-input-border;
        color: #3f3e3c;
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0 $form-input-padding;
        height: $form-input-height;
        width: 100%;
    }

    &__btn {
        margin-bottom: 20px;
        position: relative;
        font-size: 22px;

        &_center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &_size {

            &:after {
                transform: translateY(-50%);
                content: "PDF, 13 Mb";
                color: #a6a6a6;
                font-family: "PTSans", sans-serif;
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: calc(100% + 30px);
                white-space: nowrap;

                @include media(w768) {
                    content: none;
                    font-size: 16px;
                    left: calc(100% + 20px);
                }
            }
        }
    }
}