.header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
	
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include media(w768) {
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    &__logo-img {
        
        @include media(w1024) {
            max-width: 160px;
        }

        @include media(w768) {
            max-width: 130px;
        }
    }

    &__item {

        &_descr {
            font-family: 'ElMessiri', Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 15px;

            @include media(w1024) {
                font-size: 14px;
            }

            @include media(w768) {
                order: 2;
                font-size: 12px;
            }
        }

        &_logo {

            @include media(w768) {
                padding-right: 10px;
                order: 1;
            }
        }

        &_contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include media(w768) {
                order: 3;
                flex-flow: row;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                width: 100%;
            }
        }
    }

    &__descr {

        &_pc {

            @include media(w768) {
                display: none;
            }
        }

        &_mobile {
            display: none;

            @include media(w768) {
                display: block;
            }
        }
    }

    &__link {
        color: black;

        &_phone {

            @include media(w768) {
                margin-right: 10px;
            }
        }
    }
}