.sec3 {
    overflow: hidden;
    padding-top: 60px;

    @include media(w1024) {
        padding-top: 50px;
    }

    @include media(w768) {
        padding-top: 30px;
    }
    
    &__heading {
        font-family: $el;
    }

    &__block {
        
        &_top {
            background-color: $main-pink-lightest;
            color: white;
            padding: 100px 0 90px;

            @include media(w1024) {
                padding: 60px 0;
            }
        }

        &_bottom {
            padding: 50px 0 100px;

            @include media(w1024) {
                padding: 30px 0 100px;
            }

            @include media(w768) {
                padding: 30px 0 130px;
            }
        }
    }

    &__top-text {
        padding-right: 30%;

        @include media(w768) {
            padding-right: 0;
        }
    }

    &__bottom-text {
        margin-bottom: 6em;
        padding-right: 35%;

        @include media(w1024) {
            margin-bottom: 3em;
        }

        @include media(w768) {
            padding-right: 0;
        }
    }

    &__macbook {
        position: absolute;
        bottom: 0;
        left: 42%;

        @include media(w1024) {
            left: 52%;
            bottom: 4%;
            max-height: 86%;
        }

        @include media(w768) {
            display: none;
        }
    }

    &__flowers {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100px;

        @include media(w768) {
            display: block;
        }
    }
}