.ta-center {
    text-align: center;
}

.tt-uppercase {
    text-transform: uppercase;
}

.ff-el {
    font-family: 'ElMessiri', Arial, Helvetica, sans-serif;
}

.color-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.semibold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}