h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5em;
}

.xs {
    font-size: 22px;

    @include media(w1024) {
        
    }
}

.s {
    font-size: 20px;

    @include media(w1024) {
        font-size: 12px;
    }
}

.m {
    font-size: 30px;

    @include media(w1024) {
        font-size: 18px;
    }
}

.l {
    font-size: 35px;

    @include media(w1024) {
        font-size: 21px;
    }

    @include media(w768) {
        font-size: 15px;
    }
}

.xl {
    font-size: 40px;

    @include media(w1024) {
        font-size: 24px;
    }
}

h2 {
    font-size: 65px;

    @include media(w1024) {
        font-size: 39px;
    }

    @include media(w768) {
        font-size: 30px;
    }
}

h3 {
    font-size: 50px;

    @include media(w1024) {
        font-size: 30px;
    }
}