extends templates/layout

block vars
    - var title = 'Скоро свадьба'

block content
    include components/form
    include components/sec1
    include components/sec2
    include components/sec3
    include components/sec4
    include components/sec5
    include components/sec6
    include components/sec7
    include components/sec8
    include components/sec9
    include components/sec10
    include components/sec11





