header.header
    div.container.header__container
        div.header__item.header__item_descr
            p.mb0.header__descr.header__descr_pc.
                Несложный бизнес в свадебной<br> сфере с окупаемостью<br> за 60 дней
            p.mb0.header__descr.header__descr_mobile.
                Несложный бизнес<br> в свадебной сфере<br> с окупаемостью за 60 дней
        div.header__item.header__item_logo
            a(href="/").header__logo
                img(src="img/header-logo.png", alt="").header__logo-img
        div.header__item.header__item_contacts
            a(href="tel:" + attrPhone)&attributes({'data-phone': attrPhone}).header__link.phone.phone_white.header__link_phone.
                #{phone}
            a(href="").header__link.link.link_getcall.js-small-btn.
                Заказать звонок