section.sec.sec1
    div.sec1__wrap
        div.sec1__content
            div.container
                div.sec1__border
                    h2.sec1__title.mb0.
                        Зарабатывайте<br> от 350 000 рублей в год
                    p.l.mb0.
                        на собственном свадебном интернет-портале<br> из любой точки мира
                p.s.italic.mb2.
                    Ответы на важные вопросы и подробные<br> условия сотрудничества мы описали в презентации
                button.btn-round.btn-round_main.js-small-btn.
                    Скачать презентацию
    div.sec1__note
        div.container
            div.sec1__note-border
                div.xl
                    p.sec1__note-text.sec1__note-text_gray.mb0.
                        Свадебный бизнес в России процветает:
                    p.sec1__note-text.sec1__note-text_pink.mb0.
                        эксперты предсказывают 10%-рост рынка<br> в ближайшие 2 года
