section.sec.sec11
    div.container
        div.sec11__row
            div.sec11__col.sec11__col_text
                p.xl.bold.ff-el.sec11__title.
                    Готовы помогать молодожёнам создавать незабываемые свадьбы
                p.m.sec11__subtitle
                    |и зарабатывать в формате «онлайн» из любой точки мира
                    |
                    span.bold.
                        от 350 000
                    |
                    |рублей в год?

            div.sec11__col
                img(src="img/sec11-flowers.png", alt="").sec11__flowers-mobile
                include bottom-form
    img(src="img/sec11-flowers.png", alt="").sec11__flowers