section.sec.sec2
    div.container
        div.photo-block.sec2__photo-block
            div.photo-block__item.photo-block__item_img
                div.photo-block__img-wrap
                    img(src="img/sec2-img1.jpg", alt="").photo-block__img
                    img(src="img/decor-border-small.png", alt="").photo-block__img-border
            div.photo-block__item.photo-block__item_text.sec2__photo-block-text
                div.note.sec2__note.sec2__note_one
                    p.xl.mb0.sec2__note-text.sec2__note-text_one.
                        Однако влюблённые трепетно относятся к свадебному бюджету и часто отказываются от услуг крупных свадебных агентств
                div.photo-block__text
                    p.m.semibold.
                        Они сами занимаются организацией и подбирают нужных специалистов:
                    img(src="img/decor-arrow-icon.png", alt="").photo-block__arrow
                    p.m.italic
                        |за последние два года число поисковых запросов на заказ ведущих, операторов, фотографов 
                        span.bold.
                            выросло на 45%!
        div.sec2__photo-row
            div.sec2__photo-col.sec2__photo-col_text
                p.m.semibold.sec2__photo-text.
                    В то же время людям удобнее выбирать нужных специалистов на одном сайте, а не путешествовать по сотням разных
                div.note.sec2__note.sec2__note_two
                    p.xl.mb0.sec2__note-text.sec2__note-text_one.
                        Именно поэтому свадебные интернет-порталы пользуются большой популярностью у пар и свадебных специалистов
                button.btn-round.js-small-btn.sec2__btn.sec2__btn_pc.
                    Скачать презентацию
            div.sec2__photo-col.sec2__photo-col_img
                div.sec2__photo-wrap
                    img(src="img/sec2-img2.jpg", alt="").sec2__photo
                button.btn-round.js-small-btn.sec2__btn.sec2__btn_mobile.
                    Скачать презентацию