section.sec.sec3
    div.sec3__block.sec3__block_top
        div.container
            div.sec3__top-text
                h3.bold.sec3__heading.
                    Три года назад мы запустили портал «Свадьба скоро»,
                p.m.semibold.mb0.
                    который помогает влюблённым находить нужных специалистов в несколько кликов

    div.sec3__block.sec3__block_bottom
        div.container
            div.sec3__bottom-text
                p.m.italic.
                    За три года наше свадебное «хобби» превратилось в интернет-портал по свадебным услугам №1 в Иркутске
            button.btn-round.js-small-btn.
                Скачать презентацию
    img(src="img/sec3-macbook.png", alt="").sec3__macbook
    img(src="img/sec4-flower.png", alt="").sec3__flowers
