section.sec.sec4
    div.container
        div.photo-block.sec2__photo-block
            div.photo-block__item.photo-block__item_img
                div.photo-block__img-wrap
                    img(src="img/sec4-img1.jpg", alt="").photo-block__img
                    img(src="img/decor-border-small.png", alt="").photo-block__img-border
            div.photo-block__item.photo-block__item_text
                div.note.sec4__note
                    p.xl.mb0.sec4__note-text.
                        Более 400 специалистов в области свадебных торжеств размещают у нас рекламу и информацию о себе
                div.photo-block__text.sec4__photo-block-text
                    p.m.italic.
                        Средний чек на размещение информации может составлять от 300 до 1 150 рублей в зависимости от Вашего города, а на размещение баннеров 5 000 рублей
                    img(src="img/decor-arrow-icon.png", alt="").photo-block__arrow
                    p.m.semibold.sec4__photo-block-text-bold.
                        Благодаря этому выручка портала может достигать до 150 000 рублей в месяц в пик сезона
        img(src="img/sec4-flower.png", alt="").sec4__flowers