section.sec.sec5
    div.container
        div.sec5__row
            div.sec5__col.sec5__col_left
                p.xl.
                    Мы вышли на стабильную
                h3.mb0.semibold.
                    среднюю прибыль в 352 000 рублей в год
            div.sec5__col.sec5__col_right
                p.m.mb1.
                    узнали все «хитрости» работы в свадебной сфере
                p.xl.ff-el.mb0.
                    и готовы передать свой опыт партнёрам в других городах!