section.sec.sec6
    div.container.sec6__container
        div.sec6__content
            h3.semibold.mb1.sec6__heading.
                Станьте владельцем своего свадебного интернет - портала 
            p.m.sec6__subtitle
                span.semibold.
                    уже через 17 дней
                |
                |после начала<br> сотрудничества с нами
            button.btn-round.js-small-btn.
                Скачать презентацию