section.sec.sec7
    div.container.sec7__container.ta-center
        div.sec7__content
            p.xl.
                Благодаря нашему опыту вы получите всё,<br> чтобы запуститься и окупить все вложения 
            p.xl.semibold.sec7__subtitle.mb0.
                уже через 2 месяца после старта!
            img(src="img/decor-arrow-icon.png", alt="").sec7__arrow.sec7__arrow_left
            img(src="img/decor-arrow-icon.png", alt="").sec7__arrow.sec7__arrow_right