section.sec.sec9
    div.container
        div.sec9__top
            p.italic.sec9__top-text.mb1.
                Смотрите полный состав франшизы в презентации:
            button.btn-round.js-small-btn.
                Скачать презентацию
        div.sec9__border-wrap
            div.sec9__border
                p.l.mb2.
                    Всё что вам нужно делать – общаться с фотографами,<br> операторами и свадебными ведущими и<br> продавать им услуги портала
                p.semibold.xl.
                    Остальное – уже сделали мы!
                img(src="img/decor-border-big.png", alt="").sec9__border-img
            img(src="img/sec9-flower.png", alt="").sec9__border-flower
    div.sec9__note
        div.container.sec9__note-container
            h3.semibold.mb0.
                Франшиза «Свадьба скоро» – одна из самых простых и доступных
    div.container.sec9__bottom-container
        p.m.semibold.mb1.
            Она подходит абсолютно всем: 
        p.m.
            опыт работы в сфере не требуется, а вложения в 50 000 рублей на франшизу и рекламу окупятся почти сразу
    img(src="img/sec9-women.png", alt="").sec9__women