doctype html

- var title = 'Project title';
- var phone = "8 (800) 333-19-63";
- var attrPhone = "88003331963";

block vars
    
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        title #{title}
        link(rel="icon" type="image/png" href="img/favicon.png" sizes="16x16")
        link(rel="stylesheet", href="styles/vendor.css")
        link(rel="stylesheet", href="styles/main.css")
        block scripts
    body
        include ../components/svg
        include ../components/mixins
        include ../components/header
        block content
        include ../components/footer
        script(src="scripts/vendor.js")
        script(src="scripts/app.js")
